PORT=8081
SIGN=your_jwt_secret_key
ADMIN_USER=admin
ADMIN_PASS=your_admin_password
RATE_LIMIT=5   # requests per minute per IP (set to 0 to disable)
RATE_BURST=5   # maximum burst size
TEST_SIGN=your_test_jwt_secret
TEST_FAKE_RS256_TOKEN=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxIn0.invalid_sig
